.post {
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post__body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
}

.post__body > img {
  border-radius: 20px;
  width: 800px;
  height: 500px;
}

.post__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 800px;
  align-content: center;
  align-items: center;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

.favorite-icon-like {
  color: rgb(0, 179, 255);
}

.likeicons {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}

.likeicons-separator {
  border-left: 1px solid black;
  height: 20px;
  margin: 0 8px;
}

.like-count {
  padding: 4px;
}

.notification-badge {
  position: absolute;
  top: -9px;
  right: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 50%;
}

.post__image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.post__image.landscape {
  width: 100%;
  height: auto;
}

.post__image.portrait {
  width: auto;
  height: 100%;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes username left and options right */
  width: 100%;
}

.post__headerOptions {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
  color: red;
}

.dropdown-item:hover {
  background-color: #f8f8f8;
}
