.chat-window {
  flex: 3;
  background-color: white;
}

.chat-header {
  align-items: center;
  margin-bottom: 20px;
  position: fixed;
  width: 75%;
  z-index: 2;
}

.window-profile-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(65, 173, 209);
}
.window-profile-barLeft {
  display: flex;
  align-items: center;
  min-width: 10vw;
}

.window-profile-barRight {
  display: flex;
  align-items: center;
  min-width: 10vw;
  justify-content: space-around;
}

.messages {
  padding: 10px 50px 20px 50px;
  background-color: #09000023;
  margin-top: 60px;
  margin-bottom: 90px;
}

.day-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.message {
  position: relative;
  padding: 5px 5px;
  border-radius: 8px;
  max-width: 80%;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.received {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.message-time {
  font-size: 12px;
  color: #090000;
  position: absolute;
  bottom: -20px;
  right: 0;
}

/* Additional styling for chat window */
