.chat-window {
    flex:3;
    background-color: white;
    overflow-y: auto;
  }
  
  .chat-header {
    align-items: center;
    margin-bottom: 20px;
  }

   .window-profile-bar {
    display: flex;
    background-color: rgb(65, 173, 209);
    justify-content: space-between;
  }
  .window-profile-barLeft {
    display: flex;
    align-items: center;
    min-width: 10vw;
    padding: 10px;
  }

  .window-profile-barRight {
    display: flex;
    align-items: center;
    min-width: 10vw;
    justify-content: space-around;
  }
  
  
  .messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 50px 10px 50px;
  }

  .day-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
  }
  
  .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }
  
  .received {
    background-color: #f0f0f0;
    align-self: flex-start;
  }

  .message-time {
    font-size: 12px;
    color: #090000;
    position: absolute;
    bottom: -20px;
    right: 0;
  }
  
  /* Additional styling for chat window */
  