.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 198px;
  height: 100vh;
  border-right: 1px solid var(--twitter-background);
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  z-index: 999;
  transition: width 0.3s ease;
}

.sidebar--closed {
  width: 60px;
}

.sidebar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0;
}

.sidebar__menuButton {
  margin-left: 9px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 27px !important;
  margin-left: 18px;
  margin-bottom: 18px;
}

.sidebar__tweet {
  background-color: rgb(94, 188, 247) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
  font-size: large;
  font-weight: bold !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 54px !important;
  margin-top: 18px !important;
}

.sidebarOption {
  display: flex;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 198px;
  border-radius: 30px;
}

.sidebarOption--closed {
  width: 60px;
}

.sidebarOption:hover {
  background-color: #f5f5f5;
}

.sidebarOption--active {
  background-color: #e8f5fe;
  border-radius: 30px;
}

.sidebarOption__icon {
  font-size: 24px;
  color: var(--twitter-color);
}

.sidebarOption__text {
  font-size: 18px;
  margin-left: 9px;
  border-radius: 30px;
}
